@import '../../styles';
.logo {
    width: 20.7rem;
    height: 3.7rem;
}

.headerContainer {
    height: 8rem;
    padding: 2.4rem;
    @include flex($justify-content: space-between);
    border-bottom: 0.1rem solid lightGrey;
}
.rightheaderPanel {
    align-self: center;
    a {
        color: $darkGrey;
        margin-left: 3rem;
    }
}