@import '../../styles';
.logo {
    width: 20.7rem;
    height: 3.7rem;
}

.headerContainer {
    height: 9rem;
    padding: 2.4rem;
    @include flex($justify-content: space-between);
    border-bottom: 0.1rem solid lightGrey;
}
.rightheaderPanel {
    display: flex;
}

a {
    text-decoration: none;
    color: $darkGrey;
}