//font-family

$font-regular: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$font-bold: 'Roboto';


//font size
$font-size-small: 1.2rem;
$font-size-normal: 1.4rem;
$font-size-large: 1.8rem;
$font-size-xlarge: 3.2rem;


//colors
$lightGrey: #EDEDED;
$darkGrey: #4A4A4A;
$lightOrange: #EA7F28;
$darkOrange: #D37324;