//font-family

$font-regular: 'Roboto';
$font-bold: 'Roboto-Bold';


//font size
$font-size-small: 1.2rem;
$font-size-normal: 1.4rem;
$font-size-large: 1.8rem;
$font-size-xlarge: 3.2rem;


//colors
$lightGrey: #EDEDED;
$darkGrey: #4A4A4A;
$lightOrange: #EA7F28;
$darkOrange: #D37324;
$white: #fff;